Print number from 1 to 5 using a while loop.

In [1]:
a = 1

while a <= 5:
    print(a)
    
    a += 1

1
2
3
4
5

2. Calculate the sum of number from 1 to 10 using a while loop.

In [4]:
a = 1
sum = 0

while a <= 10:
    sum += a
    a += 1
    
print(sum)

55

3. Calculate the factorial of a number using a for loop.

In [7]:
num = 5
fact = 1

for i in range(2, num+1):
    fact *= i

print(fact)

120

4. Count the number of vowel in a string using a for loop.

In [10]:
vowel = 'AaEeIiOoUu'
s = 'Kanha'

count = 0

for i in s:
    if i in vowel:
        count += 1
        
print(count, " vowel present in ", s)

2  vowel present in  Kanha

5. Print a pattern using nexted loop.

In [14]:
for i in range(7):
    for j in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

6. Generate a mltiplication table using nexted loop.

In [20]:
start = 2
end = 5

for i in range(start, end+1):
    print('TABLE OF : ',i)
    for j in range(1, 11):
        print(f'{i}\tX\t{j}\t=\t{(i*j)}')

TABLE OF :  2
2	X	1	=	2
2	X	2	=	4
2	X	3	=	6
2	X	4	=	8
2	X	5	=	10
2	X	6	=	12
2	X	7	=	14
2	X	8	=	16
2	X	9	=	18
2	X	10	=	20
TABLE OF :  3
3	X	1	=	3
3	X	2	=	6
3	X	3	=	9
3	X	4	=	12
3	X	5	=	15
3	X	6	=	18
3	X	7	=	21
3	X	8	=	24
3	X	9	=	27
3	X	10	=	30
TABLE OF :  4
4	X	1	=	4
4	X	2	=	8
4	X	3	=	12
4	X	4	=	16
4	X	5	=	20
4	X	6	=	24
4	X	7	=	28
4	X	8	=	32
4	X	9	=	36
4	X	10	=	40
TABLE OF :  5
5	X	1	=	5
5	X	2	=	10
5	X	3	=	15
5	X	4	=	20
5	X	5	=	25
5	X	6	=	30
5	X	7	=	35
5	X	8	=	40
5	X	9	=	45
5	X	10	=	50